@font-face {
  font-family: checkbk;
  src: url('/checkbk0.otf');
}

.font-checkbk {
  font-family: checkbk;
}

/* custom styles */
h1 {
  @apply text-4xl py-3;
}
h2 {
  @apply text-3xl py-2;
}
h3 {
  @apply text-2xl py-2;
}
a {
  @apply text-blue-600 underline;
}
p {
  @apply py-1;
}
ul {
  @apply list-disc pl-5 py-2;
}